[Unit]
Description=Setup del ricettario

[Service]
Type=oneshot
WorkingDirectory=/var/local/database_ricette/web_ui/
ExecStart=/bin/bash create_index -s

[Install]
WantedBy=multi-user.target
