<div class="w3-responsive">
    <table class="w3-table w3-centered">
        <tr>
            <th>Ricetta</th>
            <th>Modifica</th>
        </tr>
        <tr ng-repeat="t in vm.titoli">
            <td>{{t[1]}}</td>
            <td>
                <a href="{{'#!/modifica_ricetta/:' + t[0]}}" class="w3-button">modifica</a>
            </td>
        </tr>
    </table>
    <label class="w3-padding w3-block">Dosi per quante persone
        <input type="number" class="w3-input w3-theme-light w3-border" ng-model="vm.ricettaHandle.dosi"
               min="0">
    </label>
</div>