<div class="w3-row">
    <div class="w3-third w3-brown">
        <img class="w3-image w3-block" ng-src="{{editor.fotoPortate[editor.ricetta.portata]}}">
    </div>
    <div class="w3-rest w3-container">
        <h1 class="w3-container">{{::editor.titolo}}</h1>
        <form class="w3-container">
            <div class="w3-row w3-margin-top w3-margin-bottom">
                <div class="w3-col w3-half">
                    <label>Titolo ricetta</label>
                    <input type="text" class="w3-input w3-theme-light w3-border" ng-model="editor.ricetta.titolo">
                </div>
                <div class="w3-col w3-half">
                    <label>Dosi per quante persone</label>
                    <input type="number" class="w3-input w3-theme-light w3-border" ng-model="editor.ricettaHandle.dosi"
                           min="0">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col w3-half">
                    <label>Tipo di portata</label>
                    <select class="w3-input w3-border w3-theme-light" ng-model="editor.ricetta.portata">
                        <option value="{{c}}" ng-repeat="c in editor.portate" ng-selected="$first">{{c}}</option>
                    </select>
                </div>
                <div class="w3-col w3-half">
                    <label>Tempo di preparazione</label>
                    <input type="number" class="w3-input w3-theme-light w3-border" ng-model="editor.ricetta.tempo"
                           min="0" step="5" rec-duration>
                </div>
            </div>
            <div class="w3-margin-top">
                <span>
                    <label>Stagionalità suggerita</label>
                </span>
                <div class="w3-row">
                    <div class="w3-col l1 m1 s2 w3-center" ng-repeat="m in editor.mesi">
                        <input type="checkbox" class="w3-check" ng-model="editor.mesiSelezionati[m]">
                        <label class="w3-block">{{m}}</label>
                    </div>
                </div>
                <div class="w3-row w3-bar">
                    <button class="w3-button w3-col l2 m2 s6 w3-center w3-round-large w3-padding-small w3-theme-d1 w3-hover-yellow main-invisible-border"
                            ng-click="editor.SetMesi(p)" ng-repeat="p in editor.nomiPeriodi">
                        {{p}}
                    </button>
                </div>
            </div>
            <p>
                <label>Ulteriori categorie</label>
                <input type="text" class="w3-input w3-theme-light w3-border" ng-model="editor.categorie">
            </p>
            <div>
                <fieldset ng-repeat="p in editor.ricetta.parti" class="w3-border-theme">
                    <legend contenteditable="true" ng-model="p['nome']"
                            class="w3-theme-light w3-padding-small w3-border"></legend>
                    <div class="w3-row">
                    </div>
                    <div class="w3-responsive">
                        <table class="w3-table w3-centered">
                            <tr>
                                <th class="main-minpadding" colspan="2">
                                    <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                          ng-click="editor.Togli(editor.ricetta.parti, p)" title="elimina questa parte">
                                        <span class="material-icons">clear</span>
                                    </span>
                                </th>
                                <th>Ingrediente</th>
                                <th>Quantità</th>
                                <th>
                                    <span class="material-icons w3-xlarge" title="è principale?">star_border</span>
                                </th>
                                <th>Annotazioni</th>
                            </tr>
                            <tr ng-repeat="i in p['ingredienti']">
                                <td class="main-minpadding">
                                    <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                          ng-click="editor.Togli(p['ingredienti'], i)" title="elimina questo ingrediente">
                                        <span class="material-icons">remove</span>
                                    </span>
                                </td>
                                <td class="main-minpadding">
                                    <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                          ng-click="editor.Muovi(p['ingredienti'], i, -1)"
                                          ng-class="{'w3-disabled' : editor.EPrimo(p['ingredienti'], i),
                                                     'main-clickable' : !editor.EPrimo(p['ingredienti'], i)}"
                                          title="sposta ingrediente">
                                        <span class="material-icons">keyboard_arrow_up</span>
                                    </span>
                                    <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                          ng-click="editor.Muovi(p['ingredienti'], i, 1)"
                                          ng-class="{'w3-disabled' : editor.EUltimo(p['ingredienti'], i),
                                                     'main-clickable' : !editor.EUltimo(p['ingredienti'], i)}"
                                          title="sposta ingrediente">
                                        <span class="material-icons">keyboard_arrow_down</span>
                                    </span>
                                </td>
                                <td class="w3-padding-small">
                                    <input type="text" class="w3-input w3-theme-light w3-border"
                                           ng-model="i['nome']">
                                </td>
                                <td class="w3-padding-small">
                                    <input type="text" class="w3-input w3-theme-light w3-border"
                                    ng-model="i['quantita']" rec-quantita>
                                </td>
                                <td class="w3-padding-small">
                                    <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                </td>
                                <td class="w3-padding-small">
                                    <input type="text" class="w3-input w3-theme-light w3-border"
                                           ng-model="i['annotazioni']">
                                </td>
                            </tr>
                            <tr class="">
                                <td class="main-minpadding" colspan="2">
                                    <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                          ng-click="editor.Aggiungi(p['ingredienti'], 'ingrediente')"
                                          title="aggiungi ingrediente">
                                        <span class="material-icons">add</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p>
                        <label>Descrizione procedimento</label>
                        <textarea class="w3-input w3-theme-light w3-border" cols="20"
                                  ng-model="p['procedura']"></textarea>
                    </p>
                    <fieldset ng-repeat="v in p['varianti']" class="w3-margin-bottom w3-border-theme">
                        <div class="w3-responsive">
                            <table class="w3-table w3-centered">
                                <tr>
                                    <th class="main-minpadding" colspan="2">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="editor.Togli(p['varianti'], v)" title="elimina questa variante">
                                            <span class="material-icons">clear</span>
                                        </span>
                                    </th>
                                    <th>Ingrediente</th>
                                    <th>Quantità</th>
                                    <th>
                                        <span class="material-icons w3-xlarge" title="è principale?">star_border</span>
                                    </th>
                                    <th>Annotazioni</th>
                                </tr>
                                <tr ng-repeat="i in v['ingredienti']">
                                    <td class="main-minpadding">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="editor.Togli(v['ingredienti'], i)" title="elimina questo ingrediente">
                                            <span class="material-icons">remove</span>
                                        </span>
                                    </td>
                                    <td class="main-minpadding">
                                        <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="editor.Muovi(v['ingredienti'], i, -1)"
                                              ng-class="{'w3-disabled' : editor.EPrimo(v['ingredienti'], i),
                                                         'main-clickable' : !editor.EPrimo(v['ingredienti'], i)}"
                                              title="sposta ingrediente">
                                            <span class="material-icons">keyboard_arrow_up</span>
                                        </span>
                                        <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="editor.Muovi(v['ingredienti'], i, 1)"
                                              ng-class="{'w3-disabled' : editor.EUltimo(v['ingredienti'], i),
                                                         'main-clickable' : !editor.EUltimo(v['ingredienti'], i)}"
                                              title="sposta ingrediente">
                                            <span class="material-icons">keyboard_arrow_down</span>
                                        </span>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border"
                                               ng-model="i['nome']">
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border"
                                        ng-model="i['quantita']" ng-model-options="{ debounce: 500 }" rec-quantita>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border"
                                               ng-model="i['annotazioni']">
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="main-minpadding" colspan="2">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="editor.Aggiungi(v['ingredienti'], 'ingrediente')"
                                              title="aggiungi ingrediente">
                                            <span class="material-icons">add</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            <label>Descrizione procedimento</label>
                            <textarea class="w3-input w3-theme-light w3-border"
                                      ng-model="v['procedura']"></textarea>
                        </p>
                    </fieldset>
                    <button class="w3-button w3-block w3-round-large w3-theme-d1 w3-hover-yellow"
                            ng-click="editor.Aggiungi(p['varianti'], 'variante')">Nuova variante
                    </button>
                </fieldset>
                <button class="w3-button w3-block w3-round-large w3-margin-top w3-margin-bottom w3-theme-d1 w3-hover-yellow"
                        ng-click="editor.Aggiungi(editor.ricetta.parti, 'parte')">Nuova parte
                </button>
            </div>
        </form>
    </div>
</div>
