[Unit]
Description=Telegram Bot "Ricette Personali"
After=network.target

[Service]
User=lotb
WorkingDirectory=/var/local/database_ricette/telegram_bot/
ExecStart=/usr/bin/python3 botter.py

[Install]
WantedBy=multi-user.target
