<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nuova ricetta</title>

    <link rel="stylesheet" href="css/w3.css"/>
    <link rel="stylesheet" href="css/w3-theme-cyan.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>
    <script src="js/main.js"></script>
</head>
<body class="w3-auto w3-theme-light">
<div class="w3-card w3-theme-l1 w3-margin main-container" ng-app="recipes" ng-controller="Controller as recipe">
    <div class="w3-row">
        <div class="w3-third w3-brown">
            <img class="w3-image w3-block" ng-src="{{recipe.fotoPortate[recipe.ricetta.portata]}}">
        </div>
        <div class="w3-rest w3-container">
            <h1 class="w3-container">Nuova ricetta</h1>
            <form class="w3-container">
                <div class="w3-row w3-margin-top w3-margin-bottom">
                    <div class="w3-col w3-half">
                        <label>Titolo ricetta</label>
                        <input type="text" class="w3-input w3-theme-light w3-border" ng-model="recipe.ricetta.titolo">
                    </div>
                    <div class="w3-col w3-half">
                        <label>Dosi per quante persone</label>
                        <input type="number" class="w3-input w3-theme-light w3-border" ng-model="recipe.dosi"
                               min="0">
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col w3-half">
                        <label>Tipo di portata</label>
                        <select class="w3-input w3-border w3-theme-light" ng-model="recipe.ricetta.portata">
                            <option value="{{c}}" ng-repeat="c in recipe.portate" ng-selected="$first">{{c}}</option>
                        </select>
                    </div>
                    <div class="w3-col w3-half">
                        <label>Tempo di preparazione</label>
                        <input type="number" class="w3-input w3-theme-light w3-border" ng-model="recipe.ricetta.tempo"
                               min="0" step="5" rec-duration>
                    </div>
                </div>
                <div class="w3-margin-top">
                    <span>
                        <label>Stagionalità suggerita</label>
                    </span>
                    <div class="w3-row">
                        <div class="w3-col l1 m1 s2 w3-center" ng-repeat="m in recipe.mesi">
                            <input type="checkbox" class="w3-check" ng-model="recipe.mesiSelezionati[m]">
                            <label class="w3-block">{{m}}</label>
                        </div>
                    </div>
                    <div class="w3-row w3-bar">
                        <button class="w3-button w3-col l2 m2 s6 w3-center w3-round-large w3-padding-small w3-theme-d1 w3-hover-yellow main-invisible-border"
                                ng-click="recipe.SetMesi(p)" ng-repeat="p in recipe.nomiPeriodi">
                            {{p}}
                        </button>
                    </div>
                </div>
                <p>
                    <label>Ulteriori categorie</label>
                    <input type="text" class="w3-input w3-theme-light w3-border" ng-model="recipe.categorie">
                </p>
                <div>
                    <fieldset ng-repeat="p in recipe.ricetta.parti">
                        <legend contenteditable="true" ng-model="p['nome']"
                                class="w3-theme-light w3-padding-small w3-border"></legend>
                        <div class="w3-row">
                        </div>
                        <div class="w3-responsive">
                            <table class="w3-table w3-centered">
                                <tr>
                                    <th class="main-minpadding" colspan="2">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="recipe.Togli(recipe.ricetta.parti, p)" title="elimina questa parte">
                                            <span class="material-icons">clear</span>
                                        </span>
                                    </th>
                                    <th>Ingrediente</th>
                                    <th>Quantità</th>
                                    <th><span class="material-icons w3-xlarge" title="è principale?">star_border</span></th>
                                </tr>
                                <tr ng-repeat="i in p['ingredienti']">
                                    <td class="main-minpadding">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="recipe.Togli(p['ingredienti'], i)" title="elimina questo ingrediente">
                                            <span class="material-icons">remove</span>
                                        </span>
                                    </td>
                                    <td class="main-minpadding">
                                        <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="recipe.Muovi(p['ingredienti'], i, -1)"
                                              ng-class="{'w3-disabled' : recipe.EPrimo(p['ingredienti'], i),
                                                         'main-clickable' : !recipe.EPrimo(p['ingredienti'], i)}"
                                              title="sposta ingrediente">
                                            <span class="material-icons">keyboard_arrow_up</span>
                                        </span>
                                        <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="recipe.Muovi(p['ingredienti'], i, 1)"
                                              ng-class="{'w3-disabled' : recipe.EUltimo(p['ingredienti'], i),
                                                         'main-clickable' : !recipe.EUltimo(p['ingredienti'], i)}"
                                              title="sposta ingrediente">
                                            <span class="material-icons">keyboard_arrow_down</span>
                                        </span>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border"
                                               ng-model="i['nome']">
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border"
                                        ng-model="i['quantita']" rec-quantita>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="main-minpadding" colspan="2">
                                        <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                              ng-click="recipe.Aggiungi(p['ingredienti'], 'ingrediente')"
                                              title="aggiungi ingrediente">
                                            <span class="material-icons">add</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            <label>Descrizione procedimento</label>
                            <textarea class="w3-input w3-theme-light w3-border" cols="20"
                                      ng-model="p['procedura']"></textarea>
                        </p>
                        <fieldset ng-repeat="v in p['varianti']" class="w3-margin-bottom">
                            <div class="w3-responsive">
                                <table class="w3-table w3-centered">
                                    <tr>
                                        <th class="main-minpadding" colspan="2">
                                            <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                                  ng-click="recipe.Togli(p['varianti'], v)" title="elimina questa variante">
                                                <span class="material-icons">clear</span>
                                            </span>
                                        </th>
                                        <th>Ingrediente</th>
                                        <th>Quantità</th>
                                        <th><span class="material-icons w3-xlarge">star_border</span></th>
                                    </tr>
                                    <tr ng-repeat="i in v['ingredienti']">
                                        <td class="main-minpadding">
                                            <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                                  ng-click="recipe.Togli(v['ingredienti'], i)" title="elimina questo ingrediente">
                                                <span class="material-icons">remove</span>
                                            </span>
                                        </td>
                                        <td class="main-minpadding">
                                            <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                                  ng-click="recipe.Muovi(v['ingredienti'], i, -1)"
                                                  ng-class="{'w3-disabled' : recipe.EPrimo(v['ingredienti'], i),
                                                             'main-clickable' : !recipe.EPrimo(v['ingredienti'], i)}"
                                                  title="sposta ingrediente">
                                                <span class="material-icons">keyboard_arrow_up</span>
                                            </span>
                                            <span class="w3-block main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                                  ng-click="recipe.Muovi(v['ingredienti'], i, 1)"
                                                  ng-class="{'w3-disabled' : recipe.EUltimo(v['ingredienti'], i),
                                                             'main-clickable' : !recipe.EUltimo(v['ingredienti'], i)}"
                                                  title="sposta ingrediente">
                                                <span class="material-icons">keyboard_arrow_down</span>
                                            </span>
                                        </td>
                                        <td class="w3-padding-small">
                                            <input type="text" class="w3-input w3-theme-light w3-border"
                                                   ng-model="i['nome']">
                                        </td>
                                        <td class="w3-padding-small">
                                            <input type="text" class="w3-input w3-theme-light w3-border"
                                            ng-model="i['quantita']" ng-model-options="{ debounce: 500 }" rec-quantita>
                                        </td>
                                        <td class="w3-padding-small">
                                            <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="main-minpadding" colspan="2">
                                            <span class="w3-block main-clickable main-invisible-border w3-theme-d1 w3-hover-yellow w3-round-large"
                                                  ng-click="recipe.Aggiungi(v['ingredienti'], 'ingrediente')"
                                                  title="aggiungi ingrediente">
                                                <span class="material-icons">add</span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p>
                                <label>Descrizione procedimento</label>
                                <textarea class="w3-input w3-theme-light w3-border"
                                          ng-model="v['procedura']"></textarea>
                            </p>
                        </fieldset>
                        <button class="w3-button w3-block w3-round-large w3-theme-d1 w3-hover-yellow"
                                ng-click="recipe.Aggiungi(p['varianti'], 'variante')">Nuova variante
                        </button>
                    </fieldset>
                    <button class="w3-button w3-block w3-round-large w3-margin-top w3-margin-bottom w3-theme-d1 w3-hover-yellow"
                            ng-click="recipe.Aggiungi(recipe.ricetta.parti, 'parte')">Nuova parte
                    </button>
                </div>
                <button class="w3-button w3-block w3-round-large w3-theme-d1 w3-hover-yellow"
                        ng-click="recipe.MandaRichiesta()">Registra ricetta
                </button>
            </form>
            <div ng-bind-html="recipe.posto.data"></div>
        </div>
    </div>
</div>
</body>
</html>
