<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nuova ricetta</title>

    <link rel="stylesheet" href="css/w3.css"/>
    <link rel="stylesheet" href="css/w3-theme-cyan.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js" type="text/javascript"></script>
    <script src="js/main.js"></script>
</head>
<body class="w3-auto w3-theme-light">
<div class="w3-card w3-margin main-container" ng-app="recipes" ng-controller="Controller as recipe">
    <div class="w3-row">
        <div class="w3-third w3-brown">
            <img class="w3-image w3-block" ng-src="{{recipe.fotoPortate[recipe.ricetta.portata]}}">
        </div>
        <div class="w3-rest w3-container w3-theme-l1">
            <h1 class="w3-container">Nuova ricetta</h1>
            <form class="w3-container">
                <p>
                    <label>Titolo ricetta</label>
                    <input type="text" class="w3-input w3-theme-light w3-border" ng-model="recipe.ricetta.titolo">
                </p>
                <div class="w3-row">
                    <div class="w3-col w3-half">
                        <label>Tipo di portata</label>
                        <select class="w3-select w3-border w3-theme-light" ng-model="recipe.ricetta.portata">
                            <option value="{{c}}" ng-repeat="c in recipe.portate" ng-selected="$first">{{c}}</option>
                        </select>
                    </div>
                    <div class="w3-col w3-half">
                        <label>Tempo di preparazione</label>
                        <input type="number" class="w3-input w3-theme-light w3-border" ng-model="recipe.tempo"
                               min="0" step="5">
                    </div>
                </div>
                <div>
                    <p>
                        <label>Stagionalità suggerita</label>
                    </p>
                    <div class="w3-row">
                        <div class="w3-col l1 m1 s2 w3-center" ng-repeat="m in recipe.mesi">
                            <input type="checkbox" class="w3-check" ng-model="recipe.mesiSelezionati[m]">
                            <label class="w3-block">{{m}}</label>
                        </div>
                    </div>
                    <div class="w3-row w3-bar">
                        <button class="w3-button w3-col l2 m2 s6 w3-center w3-round-large w3-padding-small w3-theme-d1 w3-hover-yellow"
                                ng-click="recipe.SetMesi(p)" ng-repeat="p in recipe.nomiPeriodi">
                            {{p}}
                        </button>
                    </div>
                </div>
                <p>
                    <label>Ulteriori categorie</label>
                    <input type="text" class="w3-input w3-theme-light w3-border" ng-model="recipe.categorie">
                </p>
                <div>
                    <fieldset ng-repeat="p in recipe.ricetta.parti">
                        <legend>{{p['nome']}}</legend>
                        <div class="w3-row">
                            <input type="text" class="w3-input w3-theme-light w3-border w3-col m11" ng-model="p['nome']">
                            <button class="w3-button w3-large w3-theme-d1 main-button w3-hover-yellow w3-col m1"
                            ng-click="recipe.Togli(recipe.ricetta.parti, p)">X</button>
                        </div>
                        <div class="w3-responsive">
                            <table class="w3-table w3-centered">
                                <tr>
                                    <th></th>
                                    <th>Ingrediente</th>
                                    <th>principale?</th>
                                </tr>
                                <tr ng-repeat="i in p['ingredienti']">
                                    <td class="w3-padding-small">
                                        <span class="w3-badge w3-large w3-theme-d1 main-button w3-hover-yellow"
                                        ng-click="recipe.Togli(p['ingredienti'], i)">-</span>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border" ng-model="i['nome']">
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                    </td>
                                </tr>
                                <tr class="w3-auto">
                                    <td class="w3-padding-small">
                                        <span class="w3-badge w3-large w3-theme-d1 main-button w3-hover-yellow"
                                        ng-click="recipe.Aggiungi(p['ingredienti'], 'ingrediente')">+</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            <label>Descrizione procedimento</label>
                            <textarea class="w3-input w3-theme-light w3-border" cols="20" ng-model="p['procedura']"></textarea>
                        </p>
                        <fieldset ng-repeat="v in p['varianti']">
                        <div class="w3-responsive">
                            <table class="w3-table w3-centered">
                                <tr>
                                    <th><span class="w3-button w3-large w3-theme-d1 main-button w3-hover-yellow"
                                        ng-click="recipe.Togli(p['varianti'], v)">x</span></th>
                                    <th>Ingrediente</th>
                                    <th>principale?</th>
                                </tr>
                                <tr ng-repeat="i in v['ingredienti']">
                                    <td class="w3-padding-small">
                                        <span class="w3-badge w3-large w3-theme-d1 main-button w3-hover-yellow"
                                        ng-click="recipe.Togli(v['ingredienti'], i)">-</span>
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="text" class="w3-input w3-theme-light w3-border" ng-model="i['nome']">
                                    </td>
                                    <td class="w3-padding-small">
                                        <input type="checkbox" class="w3-check" ng-model="i['principale']">
                                    </td>
                                </tr>
                                <tr class="w3-auto">
                                    <td class="w3-padding-small">
                                        <span class="w3-badge w3-large w3-theme-d1 main-button w3-hover-yellow"
                                        ng-click="recipe.Aggiungi(v['ingredienti'], 'ingrediente')">+</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>
                            <label>Descrizione procedimento</label>
                            <textarea class="w3-input w3-theme-light w3-border" ng-model="v['procedura']"></textarea>
                        </p>
                        </fieldset>
                        <button class="w3-button w3-block w3-round-large w3-theme-d1 w3-hover-yellow"
                        ng-click="recipe.Aggiungi(p['varianti'], 'variante')">Nuova variante</button>
                    </fieldset>
                    <button class="w3-button w3-block w3-round-large w3-margin-top w3-margin-bottom w3-theme-d1 w3-hover-yellow"
                    ng-click="recipe.Aggiungi(recipe.ricetta.parti, 'parte')">Nuova parte</button>
                </div>
                <button class="w3-button w3-block w3-round-large w3-theme-d1 w3-hover-yellow"
                        ng-click="recipe.MandaRichiesta()">Registra ricetta</button>
            </form>
            <div ng-bind-html="recipe.posto.data"></div>
        </div>
    </div>
</div>
</body>
</html>
