<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ok</title>

    <link rel="stylesheet" href="css/w3.css"/>
    <link rel="stylesheet" href="css/w3-theme-cyan.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="w3-auto w3-theme-light">
<div class="w3-card w3-margin main-container">
    <div class="w3-panel w3-theme-l1">
        <h1>Richiesta accettata</h1>
        <p>Tutto andrà a meraviglia!</p>
    </div>
</div>
</body>
</html>
